<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>เลือกวันที่เพื่อสร้าง QR</title>
  <% if (showNavbar) { %>
    <%- include('partials/navbar', { currentUser, currentRole }) %>
  <% } %>
</head>
<body>

<div class="container mt-5">
  <h3>เลือกวันที่เพื่อสร้าง QR Code</h3>
  <form action="/classroom/<%= classroomId %>/generate-token" method="POST">
    <div class="form-group">
      <label for="date">วันที่:</label>
      <input type="date" class="form-control" name="date" id="date" required value="<%= new Date().toISOString().split('T')[0] %>">
    </div>
    <button type="submit" class="btn btn-primary mt-3">ยืนยันและสร้าง QR Code</button>
  </form>
</div>


</body>
</html>